@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cal+Sans&family=Noto+Kufi+Arabic:wght@100..900&family=Righteous&family=Funnel+Display:wght@300..700&display=swap');
@import "tailwindcss";

body::selection {
  background-color: #FF5678;
  color: white;
}

:root {
  /* ===== Backgrounds ===== */
  --bg: #ffffff;
  --bg-soft: #f5f6fa;
  --bg-card: #fdfdfd;
  --bg-dark: #596069;

  /* ===== Text ===== */
  --text: #212121;
  --text-soft: #444444;
  --text-muted: #666666;

  /* ===== Borders ===== */
  --border: #e0e0e0;
  --border-light: #f0f0f0;
  --border-dark: #818181;

  --accent: #2563EB;
  --accent-light: #60A5FA;

  --second: #7C3AED;
  --third: #FACC15;
  --fourth: #16A34A;
  --fifth: #FB923C;
  --sixth: #06B6D4;
  --seventh: #FECB4A;
  --eighth: #F43F5E;
  --ninth: #0EA5E9;
  --tenth: #9333EA;



  --youtube: #ff0000;
  --whatsapp: #25d366;

}



@theme {
  /* Fonts */
  --font-logo: "Righteous", sans-serif;
  --font-main: "Funnel Display", sans-serif;
  --font-hand: "Borel", cursive;
  --font-arabic: "Noto Kufi Arabic", sans-serif;
  --font-quran: "Amiri", serif;
  --font-class: "Cal Sans", sans-serif;

  --color-bg: var(--bg);
  --color-bg-dark: var(--bg-dark);
  --color-bg-soft: var(--bg-soft);
  --color-bg-card: var(--bg-card);

  --color-text: var(--text);
  --color-text-soft: var(--text-soft);
  --color-text-muted: var(--text-muted);

  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-second: var(--second);
  --color-third: var(--third);
  --color-fourth: var(--fourth);
  --color-fifth: var(--fifth);
  --color-sixth: var(--sixth);
  --color-seventh: var(--seventh);
  --color-eighth: var(--eighth);
  --color-ninth: var(--ninth);
  --color-tenth: var(--tenth);


  --color-youtube: var(--youtube);
  --color-whatsapp: var(--whatsapp);


  --color-border: var(--border);
  --color-border-light: var(--border-light);
  --color-border-dark: var(--border-dark);


  --shadow-a: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-b: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-c: 0 10px 15px rgba(0, 0, 0, 0.15);


  --animate-pulse-grow: pulseGlow 3.5s linear infinite;
  --animate-fadein: fade-in 1s ease forwards;
  --animate-float: float 2s ease alternate infinite;
  --animate-m3leg: m3leg 1s ease alternate infinite;
  --animate-background: shine 5s ease-in infinite;
  --animate-wipe-y: wipe-y 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s 1 normal both;
}