@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Borel&family=Funnel+Display:wght@300..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Righteous&display=swap');
@import "tailwindcss";


:root {
  --bg: #111;
  --bg-soft: #1e1f23;
  --bg-dark: #0a0a0f;
  --bg-card: #1f1f28;

  --text: #f8f8ff;
  --text-soft: #d9e0ec;

  --border: #2c2c34;
  --border-light: #3a3a45;
  --border-dark: #1f1f28;

  --accent: #2563EB;
  --accent-light: #3b82f6;

  --second: #6129bb;
  --third: #FFD700;
  --fourth: #4CAF50;
  --fifth: #FF5722;
  --sixth: #00BCD4;
  --seventh: #E91E63;
  --eighth: #754833;

  --youtube: #FF0000;
  --whatsapp: #128C7E;
}



@theme {
  /* Fonts */
  --font-logo: "Righteous", sans-serif;
  --font-code: "JetBrains Mono", monospace;
  --font-main: "Funnel Display", sans-serif;
  --font-hand: "Borel", cursive;
  --font-arabic: "Baloo Bhaijaan 2", sans-serif;


  --shadow-action: 0 0 160px var(--local);

  --color-bg: var(--bg);
  --color-bg-dark: var(--bg-dark);
  --color-bg-soft: var(--bg-soft);
  --color-bg-card: var(--bg-card);

  --color-text: var(--text);
  --color-text-soft: var(--text-soft);

  --color-accent: var(--accent);
  --color-second: var(--second);
  --color-third: var(--third);
  --color-fourth: var(--fourth);
  --color-fifth: var(--fifth);
  --color-sixth: var(--sixth);
  --color-seventh: var(--seventh);
  --color-eighth: var(--eighth);


  --color-youtube: var(--youtube);
  --color-whatsapp: var(--whatsapp);

  --color-border: var(--border);
  --color-border-light: var(--border-light);
  --color-border-dark: var(--border-dark);



  --animate-pulse-grow: pulseGlow 3.5s linear infinite;
  --animate-fadein: fade-in 1s ease forwards;
  --animate-float: float 2s ease alternate infinite;
  --animate-background: shine 5s ease-in infinite;
}


