@import url('https://fonts.googleapis.com/css2?family=Allura&family=Almarai:wght@300;400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import "tailwindcss";


:root {
  /* Backgrounds */
  --bg: #111;
  --bg-soft: #1e1f23;
  --bg-dark: #0a0a0f;
  --bg-card: #1f1f28;

  /* Text */
  --text: #f8f8ff;
  --text-soft: #d9e0ec;

  /* Borders */
  --border: #2c2c34;
  --border-light: #3a3a45;
  --border-dark: #1f1f28;

  /* Primary / Accents */
  --accent: #2563EB;
  --accent-light: #3b82f6;

  --second: #6129bb;
  --second-light: #7c3aed;

  --third: #FFD700;
  --third-light: #ffea70;

  --fourth: #4CAF50;
  --fourth-light: #81C784;

  --fifth: #FF5722;
  --fifth-light: #FF8A50;

  --sixth: #00BCD4;
  --sixth-light: #33CFE0;

  --seventh: #E91E63;
  --seventh-light: #FF6090;

  --eighth: #754833;
  --eighth-light: #A17C63;

  /* Brands / Socials */
  --youtube: #FF0000;
  --whatsapp: #128C7E;
}



@theme {
  /* Fonts */
  --font-mono: "Space Mono", monospace;
  --font-poppins: "poppins", arial;
  --font-main: "Space Grotesk", sans-serif;
  --font-logo: "Righteous", sans-serif;
  --font-hand: "Allura", cursive;
  --font-arabic: "Almarai", sans-serif;
  --font-cute: "Indie Flower", cursive;

  --shadow-action: 0 0 160px var(--local);

  --color-bg: var(--bg);
  --color-bg-dark: var(--bg-dark);
  --color-bg-soft: var(--bg-soft);
  --color-bg-card: var(--bg-card);

  --color-text: var(--text);
  --color-text-soft: var(--text-soft);

  --color-accent: var(--accent);
  --color-second: var(--second);
  --color-third: var(--third);
  --color-fourth: var(--fourth);
  --color-fifth: var(--fifth);
  --color-sixth: var(--sixth);
  --color-seventh: var(--seventh);
  --color-eighth: var(--eighth);


  --color-youtube: var(--youtube);
  --color-whatsapp: var(--whatsapp);

  --color-border: var(--border);
  --color-border-light: var(--border-light);
  --color-border-dark: var(--border-dark);



  --animate-pulse-grow: pulseGlow 3.5s linear infinite;
  --animate-fadein: fade-in 1s ease forwards;
  --animate-float: float 2s ease alternate infinite;
  --animate-background: shine 5s ease-in infinite;
}