@import url('https://fonts.googleapis.com/css2?family=Allura&family=Almarai:wght@300;400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import "tailwindcss";


:root {
  --bg: #111;
  --bg-soft: #1e1f23;
  --text: #f8f8ff;
  --text-soft: #d9e0ec;
  --accent: #2563EB;
  --second: #6129bb;
  --sub: #FFD700;
  --border: #2c2c34;

  --youtube: #FF0000;
  --green: #357a4b;
}


@theme {
  --font-mono: "Space Mono", monospace;
  --font-poppins: "poppins", arial;
  --font-main: "Space Grotesk", sans-serif;
  --font-logo: "Righteous", sans-serif;
  --font-hand: "Allura", cursive;
  --font-arabic: "Almarai", sans-serif;
  --font-cute: "Indie Flower", cursive;


  /* action btns */
  --shadow-action: 0 0 100px var(--accent);

  --color-bg: var(--bg);
  --color-bg-soft: var(--bg-soft);
  --color-text: var(--text);
  --color-text-soft: var(--text-soft);
  --color-accent: var(--accent);
  --color-second: var(--second);
  --color-sub: var(--sub);
  --color-border: var(--border);

  --color-youtube: var(--youtube);
  --color-whatsapp: var(--green);

  /* Logo */
  --animate-pulse-grow: pulseGlow 4s ease infinite;

  --animate-fadein: fade-in 1s ease forwards;
  --animate-float: float 2s ease alternate infinite;
  --animate-slideup: SlidUp 1s ease forwards;
  --animate-background: shine 5s linear infinite;
}